@font-face {
  font-family: 'Open Sans';
  src: url('estilos/fontes/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

:root {
  --cor01: #F2EDD5;
  --cor02: #A67233;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #rooter {
  background-color: var(--cor01);
  height: 100%;
}